:root {
    --black: #000000;
    --white: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
}

nav {
    background: grey;
}

header {
    background: orange;
}

main {
    background: pink;
    display: grid;
    gap: 30px;
}

footer {
    background: grey;
}

textarea {
    width: 100%;
}

button {
    cursor: pointer;
}

#input-text {
    min-height: 100px;
    word-break: break-all;
}

#font-options {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(170px, 1fr) );
    gap: 10px;
}

.font-output {
    display: grid;
    gap: 20px;
}

.font-output-text {
    word-break: break-all;
    font-size: 2rem;
}
