:root {
    --black: #000000;
    --white: #FFFFFF;
    --max-width: 1000px;
    --padding-sides: 20px;
    --input-and-output-text-font-size: 1.2rem;
    --input-and-output-text-line-height: 1.8rem;

    --night: #0C0F0A;
    --outer-space: #494B48;
    --battleship-gray: #868785;
    --silver: #C3C3C2;
    --platinum: #E1E1E1;
    --anti-flash-white: #F0F0F0;
    --white: #FFFFFF;
    --rose: #FF206E;
    --yellow: #FBFF12;
    --turquoise: #41EAD4;
}

@font-face {
    font-family: Teko;
    src: url(assets/fonts/Teko-VariableFont_wght.ttf) format('woff2'),
}

@font-face {
    font-family: Monoton;
    src: url(assets/fonts/Monoton-Regular.ttf) format('woff2'),
}
  
@font-face {
    font-family: Gruppo;
    src: url(assets/fonts/Gruppo-Regular.ttf) format('woff2'),
}

@font-face {
    font-family: SairaStencilOne;
    src: url(assets/fonts/SairaStencilOne-Regular.ttf) format('woff2'),
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: var(--night);
    font-family: Arial, Helvetica, sans-serif;
}

#logo {
    background: var(--night);
    text-align: center;
    font-family: SairaStencilOne;
    font-size: 1.5rem;
    padding: 5px;
}

#logo a:link,
#logo a:active,
#logo a:visited {
    color: var(--white);
    text-decoration: none;
}

#logo a:hover {
    text-decoration: underline;
}

.header-wrapper {
    background: var(--anti-flash-white);
    padding: var(--padding-sides);
}

header {
    max-width: var(--max-width);
    margin: auto;
    display: grid;
    gap: 10px;
}

h1 {
    line-height: 2.5rem;
}

main {
    background: var(--anti-flash-white);
    display: grid;
    gap: 30px;
    justify-content: center;
    padding: 0 var(--padding-sides) var(--padding-sides) var(--padding-sides);
}

section {
    max-width: var(--max-width);
}

.copy {
    display: grid;
    gap: 15px;
}

p,
ul {
    line-height: 1.6rem;
}

#input-text-and-clear-text-button-wrapper-section {
    position: sticky;
    top: 0;
}

#input-text-and-clear-text-button-wrapper {
    display: grid;
    grid-template-columns: auto 40px;
}

#clear-text-button {
    height: 100%;
    border: 1px solid var(--silver);
    font-size: 2rem;
}

#clear-text-button:hover {
    background: var(--rose);
}

#form-filters {
    background: var(--platinum);
    display: grid;
    gap: 20px;
    padding: 20px;
    border: 1px solid var(--silver);
    font-size: 0.9rem;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: left 0.2s ease;
}

#form-filters-and-font-outputs-wrapper {
    max-width: var(--max-width);
    display: grid;
    gap: 20px;
    align-items: start;
}

select {
    padding: 3px;
}

option {
    font-size: 1.2rem;
}

.filter {
    display: grid;
    gap: 10px;
}

.filter-wrappers-checkboxes-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.filter-wrappers-select-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100px;
    resize: none;
    padding: 10px;
    border: 1px solid var(--silver);
    font-size: var(--input-and-output-text-font-size);
    line-height: var(--input-and-output-text-line-height);
}

button {
    cursor: pointer;
    height: 30px;
    background: var(--night);
    border: 1px solid var(--night);
    color: var(--white);
    font-weight: bold;
}

button:hover {
    background: var(--white);
    color: var(--night);
}

#input-text {
    min-height: 100px;
    word-break: break-all;
}

#font-options {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(170px, 1fr) );
    gap: 10px;
}

.checkbox-input-and-label-wrapper {
    display: flex;
    gap: 5px;
    align-items: center;
}

.separators-and-wrappers-select-and-label-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
}

#font-outputs-wrapper {
    display: grid;
    gap: 20px;
}

.font-output-wrapper {
    background: var(--white);
    border: 1px solid var(--silver);
    padding: 10px;
    display: grid;
    gap: 10px;
}

.font-output-name {
    font-weight: bold;
}

.font-output-text-and-button-wrapper {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
}

.font-output-text {
    word-break: break-all;
    font-size: var(--input-and-output-text-font-size);
    line-height: var(--input-and-output-text-line-height);
}

#footer-wrapper {
    padding: var(--padding-sides);
}

footer {
    max-width: var(--max-width);
    margin: auto;
    display: grid;
    gap: 20px;
    text-align: center;
}

footer a:link,
footer a:active,
footer a:visited {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

.footer-links {
    display: grid;
    gap: 20px;
}

#copyright {
    color: var(--white);
    font-size: 0.8rem;
    line-height: 1.4rem;
    color: var(--battleship-gray);
}

#filters-button {
    background: var(--turquoise);
    color: var(--night);
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    position: fixed;
    right: var(--padding-sides);
    bottom: var(--padding-sides);
    width: 40px;
    height: 40px;
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 0 2px 2px 2px;
}

@media screen and (min-width: 769px) {
    #form-filters-and-font-outputs-wrapper {
        grid-template-columns: auto 250px;
    }

    .font-output-text {
        font-size: 1.5rem;
        line-height: 2.2rem;
    }

    #form-filters {
        position: initial;
        top: initial;
        left: initial;
        width: initial;
        height: initial;
        overflow: initial;
    }

    #filters-button {
        display: none;
    }
}