:root {
    --black: #000000;
    --white: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
}

nav {
    background: grey;
}

header {
    background: orange;
}

main {
    background: pink;
    display: grid;
    gap: 30px;
}

footer {
    background: grey;
}

form {
    display: grid;
    gap: 10px;
}

#input-text {
    min-height: 200px;
    width: 100%;
}

#output-fonts-wrapper {
    display: grid;
    gap: 20px;
}